#BOTA config for A_pooled_bin.007
blat='/usr/local/src/blat'
hmmscan='hmmscan'
hmmtop='/usr/local/src/hmmtop_2.1/hmmtop'
psort='/usr/local/psortb/bin/psort'
prodigal='prodigal'
[A_pooled_bin.007]
fna	/gpfs3/well/kir/projects/mirror/containers/BOTA/array/fna.dir/A_pooled_bin.007.fna
gff	/gpfs3/well/kir/projects/mirror/containers/BOTA/array/gff.dir/A_pooled_bin.007.gff
alleles	H-2-IAb
